@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  font-family: "Clear Sans";
  color: #776e65;
}

h1 {
  font-size: 40px;
}

.row {
    text-align: center;
}

.cell {
  float: left;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  background: rgba(238, 228, 218, 0.35);
  position: relative;
  margin: 7.5px;
  font-size: 2em;
}

.cell div {
  margin-top: 26px;
}

.board {
  background: #bbada0;
  width: 475px;
  height: 475px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  padding: 7.5px;
}

/*@media (min-width: 768px) {
  .cell {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .cell {
    height: 114px;
  }
}

@media (min-width: 1200px) {
  .cell {
    height: 139px;
  }
}*/