@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/ClearSans-Bold.ttf");
}

body {
  background: #faf8ef;
  font-family: "Clear Sans";
  color: #776e65;
}

h1 {
  height: 200px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

h1 p {
  font-size: 50px;
  margin-bottom: 20px;
}

.newGame {
  float: left;
  background-color:#2e466e;
  border-radius:10px;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:25px;
  padding:12px 34px;
  height: 75px;
  margin-top: 5px;
}

h1 div {
  float: right;
  margin: 5px;
  margin-top: 13px;
  border-radius: 10px;
  background: #bbada0;
  font-family: arial;
  font-weight: bold;
  height: 60px;
  padding-top: 5px;
}

.timer p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.timer {
  width: 150px;
  font-size: 20px;

}
.score p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.score {
  width: 80px;
  font-size: 20px;
}

.row {
    text-align: center;
}

.cell {
  float: left;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  background: rgba(238, 228, 218, 0.35);
  position: relative;
  margin: 7.5px;
  font-size: 2em;
}

.cell div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.board {
  background: #2e466e;
  width: 475px;
  height: 475px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  padding: 7.5px;
  margin-top: 15px;
}


.value-0 {
  background: rgba(238, 228, 218, 0.35);
}

.value-2 {
  color: #f9f6f2;
  background: #ffb300;
}

.value-4 {
  color: #f9f6f2;
  background: #f07610;
}

.value-8 {
  color: #f9f6f2;
  background: #87b829;
}

.value-16 {
  color: #f9f6f2;
  background: #176ced;
}

.value-32 {
  color: #f9f6f2;
  background: #009755;
}

.value-64 {
  color: #f9f6f2;
  background: #ab407c;
}

.value-128 {
  color: #f9f6f2;
  background: #332a98;
}

.value-256 {
  color: #f9f6f2;
  background: #447294;
}

.value-512 {
  color: #f9f6f2;
  background: #0063b0;
}

.value-1024 {
  color: #f9f6f2;
  background: #fdb41e;
}

.value-2048 {
  color: #f9f6f2;
  background: #ea361f;
}

.addicts {
  color: #911107;
  font-size: 58px;
}

.stopPlaying {
  background: #911107;
  padding-top: 13px;
  font-size: 30px;
  color: white;
}

.stopPlayingBoard {
  background: #911107;
}

.stopPlayingBoard2 {
  background: #911107;
  padding-top: 30px;
  font-size: 80px;
  color: white;
}

/*@media (min-width: 768px) {
  .cell {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .cell {
    height: 114px;
  }
}

@media (min-width: 1200px) {
  .cell {
    height: 139px;
  }
}*/