body {
  background: #faf8ef;
  font-style: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #776e65;
}

h1 {
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  text-align: center;
}

.board {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 6px;
  width: 500px;
  background: #bbada0;
  border-radius: 10px;
}

.cell {
  background: rgba(238, 228, 218, 0.35);
  display: inline-block;
  width: 107px;
  height: 107px;
  margin: 5px;
  border-radius: 10px;
}